---
import Layout from "../layouts/Layout.astro";
import DashboardHeader from "../components/dashboard/DashBoardHeader.astro";
import SidebarIsland from "../components/dashboard/SidebarIsland.astro";
import WorkspacesViewIsland from "../components/dashboard/WorkspacesViewIsland.astro";
import MembersManagementIsland from "../components/dashboard/MembersManagementIsland.astro";
---


<Layout title="Dashboard - Server Islands">
  <div id="app-container" class="h-screen overflow-hidden">
    <DashboardHeader />
    <div class="flex h-screen">
      <SidebarIsland server:defer />
      <main class="flex-1 overflow-auto bg-gray-50">
        <div class="p-8">
          <div id="workspaces-view" class="workspace-view-container">
            <WorkspacesViewIsland server:defer />
          </div>
          <!-- Aquí puedes agregar otros islands o componentes si es necesario -->
        </div>
      </main>
    </div>
  </div>
</Layout>
